<div *ngIf="actor" class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/actor/list">Return to List</a></span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td>{{actor.id}}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input [(ngModel)]="actor.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input [(ngModel)]="actor.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input [(ngModel)]="actor.gender" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Birth Date:</td>
                <td><input [(ngModel)]="actor.birthDate" class="rounded" type="date" disabled></td>
            </tr>

        </table>
    </main>
    <span>
        <span><a routerLink="/actor/edit/{{actor.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>
<br>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{creditsTitle}}]</span>
</section>
<table *ngIf="credits" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Actor</th>
            <th>Movie</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let credit of credits">
            <td>{{ credit.id }}</td>
            <td>
                   {{ credit.actor.firstName }}&nbsp;{{ credit.actor.lastName }}
            </td>

            <td>
                <span>
                    <a routerLink="/movie/detail/{{credit.movie.id}}">{{ credit.movie.title }} </a>
                </span>
            </td>

            <td>{{ credit.role }}</td>
        </tr>
    </tbody>
</table>